<html>
<head>
    <title>Addition</title>
<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">

    </style>    
</head>

<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-3">Student Application</h4>
   <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Section</th>
      <th>Email</th>
      <th colspan="2">Phone</th>

<th >Edit</th>
<th colspan="5">Delete</th>

    </tr>
  </thead>
  <tbody>
  <% users.forEach(function(user) { %>
    <tr>
    <form method="post">
      
    
      <td><%= user.name %></td>
      <td><%= user.section %></td>
      <td><%= user.email %></td>
        <td><%= user.phone %></td>
          <td><input type="hidden" name="val" value=<%= user.name %> ></td>
            <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/editpage">Edit</button></td>
             <td ><button type="submit" class="btn btn-primary btn-sm" formaction="/dell">Delete</button></td>
             </form>
    </tr>
    
      <% }); %>
  </tbody>
</table>
<br>
<button onclick="location.href = '/register';" class="btn btn-primary btn-sm" id="myButton" class="float-left submit-button" >register</button>
  </div>
</div>
</body>
</html>
