
<h2>Student list</h2>

<table>
<tr>
<th>name</th>
<th>section</th>
<th>email</th>
<th>phone</th>
</tr>
    <% users.forEach(function(user) { %>
        <tr>
        <form method="post">
        <td><%= user.name %></td>
        <td> <%= user.section %></td>
         <td> <%= user.email %></td>
          <td> <%= user.phone %></td>
                 <td> <input type="hidden" name="val" value=<%= user.name %> > </td>
          <td><button type="submit" formaction="/editpage">Edit</button> </td>
          <td><button type="submit" formaction="/dell">Delete</button> </td>
</form>

        </tr>
    <% }); %>

 </table>
<br>
<button onclick="location.href = '/register';" id="myButton" class="float-left submit-button" >register</button>
